        body {
            background-color: #FAFAFA;
            min-height: 100vh;
        }

        #container {
            display: flex;
            justify-content: space-between;

        }

        .left {
            margin: 100px 164px 72px 150px;
        }

        .left img {
            border-radius: 50%;
            width: 576px;
            /* height: 576px;  */
            border: 20px solid #FFFFFF;
            box-shadow: 0px 4px 31px #0000000A;
        }

        .right {
            margin-top: 175px;
        }

        .top {
            display: flex;
            align-items: center;

        }

        .top p {
            top: 106px;
            left: 906px;
            width: 272px;
            height: 58px;
            font-size: 40px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;

            /* font: normal normal 900 40px/53px Roboto; */
        }

        div img {
            width: 250px;
        }

        .top1 {
            text-align: left;
            font-size: 32px;
            /* font: normal normal 300 40px/47px Roboto; */
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            letter-spacing: 0px;
            color: #3E3E3E;
        }

        span {
            text-align: left;
            /* font: normal normal 900 40px/53px Roboto; */
            font-size: 32px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            letter-spacing: 0px;
            color: #C8242F;
        }

        .login-text {
            text-align: left;
            /* font: normal normal normal 25px/33px Roboto; */
            font-size: 20px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            letter-spacing: 0px;
            color: #3E3E3E;
        }

        input {
            padding-left: 1rem;
            margin-bottom: 27px;
            width: 429px;
            height: 49px;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border: 1px solid #ADADAD;
            border-radius: 5px;
        }

        .forgot {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 77%;
        }

        button {
            background: #dc3944 0% 0% no-repeat padding-box;
            border-radius: 23px;
            width: 138px;
            height: 45px;
            border-color: #FFFFFF;
            font-size: 12px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: #FFFFFF;


        }

        .forgot p {
            color: #ADADAD;
            font-size: 12px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;

        }

        .bottom {
            display: flex;
        }

        .bottom>p {
            text-align: left;
            /* font: normal normal normal 15px/20px Roboto; */
            font-size: 12px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            letter-spacing: 0px;
            color: #ADADAD;
        }


        #reg {
            color: #C8242F;
            font-size: 12px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        @media screen and (min-width: 801px) and (max-width: 1100px) 
        {
            #container {
                justify-content: space-between;
            }

            .left {
                width: 80%;
                margin: auto;
            }

            .left img {
                width: 80%;
                              
            }

            .right {
                width: 90%;
                margin: auto;
                /* margin-right: 10; */
            }
        }

        @media screen and (max-width: 800px) 
        {
            #container {
                flex-direction: column;
                margin-top: 3rem;
            }

            .left img

            {
                width: 90%;
                height: 90%;
                
            }

            .right {
                width: 90%;
                margin: auto;
                align-items: center;
            }

            .top img {
                width: 60%;
                margin-top: 5%;
                margin-right: 20%;
                margin-left: 20%;
            }

            .top1 {
                width: 100%;
                text-align: center;
            }

            .login-text {
                text-align: center;
            }

            input {
                width: 90%;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            button {
                margin-left: 10%;
                margin-right: 10%;
            }

            .forgot {
                width: 85%;
            
            }

            .button {
                justify-content: center;
                
            }

        }
       

    /* .nav{
        height: 60px;
    }
    #header-logo{
        margin-top: 25px;
        margin-left: 25px;
        margin-bottom: 25px;
        width: 142px;
        height: 30px;
    }
    #menu-bar{
        margin-top: 25px;
        margin-left: 29px;
        width: 22px;
        height: 69px;
    }
    #search-icon{
        top: 28px;
        left: 321px;
        width: 20px;
        height: 77px;
        margin-left: 76px;
    }
    #search{
        top: 28px;
        left: 321px;
        width: 49px;
        height: 21px;
        margin-top: -55px;
        margin-left: 335px;
        font-size: ;
    }
     */

     @media screen and (max-width: 650px){

        .left {
            width: 500px;
            margin: auto;
        }

        .left img

        {
            width: 100%;
            height: 90%;
            
        }

     } 